/*Scss del header*/
header {
    background-color: #f8c504;
    margin-top: 5px;
    height: 110px;
    width: auto;
}
.navegador {
    margin-left: auto;
}
.navbar-nav {
    margin-top: 13px;
    text-shadow: 1px 1px white;
    font-family: 'Merienda One', cursive;
    font-size: 22px; 
}
.collapse {
    justify-content: flex-end;
}
.nav-link {
    color: #04558a;
    transition: 1s all;
}
.nav-link:hover {
    font-size: 26px;
}