/*Scss de quiensSomos*/
.body-content {
    font-family: 'Merienda One', cursive;
    margin-top: 50px;
}
.title-content {
    font-size: xx-large;
    text-align: center;
}
.descripcion {
    margin-top: 70px;
    font-size: x-large;
}
.img-thumbnail {
    max-width: 700px;
    margin-top: 50px;
    margin-left: 30px;
}