@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merienda+One&display=swap');
/*comienzo del body*/
body {
    background-color: #ff329d;
    width: 100%;
}
/*comienzo del header*/
@import "./header";
/*comienzo del content*/
@import "./content";
/*comienzo nail art*/
@import "./nailArt";
/*comienzo de quienes somos*/
@import "./quienesSomos";
/*comienzo de contacto*/
@import "./contacto";
/*comienzo del footer*/
@import "./footer";
@media screen and (max-width: 768px){
    .menu ul li {
        font-size: 13px;
        transition: none;
    }
    .menu ul li :hover {
        font-size: 15px;
    }
    .card-img-top {
        margin-left: 100px;
    }
    .card-body {
        margin-right: 50px;
        vertical-align: baseline;
    }
    .card-text {
        font-size: small;
    }
    .row {
        justify-content: center;
    }
    .body-content {
        font-size: medium;
        margin-left: 40px;
    }
    .mb-4 {
        margin-left: 20px;
    }
    .title-contact {
        font-family: 'Merienda One', cursive;
        margin-right: 200px;
        font-size: 14px;
    }
    .col-md-3 {
        font-size: 14px;
    }
    .footer {
        font-size: small;
    }
    .ig {
        left: 660px;
    }
    .fb {
        left: 670px;
    }
    
}
@media screen and (max-width: 425px) {
    .card-img-top {
        margin-left: 05px;
    }
    .card-body {
        margin-right: 25px;
        vertical-align: baseline;
    }
    .card-text {
        font-size: small;
    }
    .img-thumbnail {
        max-width: 360px;
    }
    .title-content {
        margin-right: 40px;
        font-size: x-large;
    }
    .descripcion {
        font-size: small;
        margin-left: 5px;
    }
    .title-contact {
        font-family: 'Merienda One', cursive;
        margin-right: 15px;
        font-size: 14px;
    }
    .footer {
        font-size: x-small;
    }
    .ig {
        left: 330px;
    }
    .fb {
        left: 340px;
    }
    .experiencia {
        margin-top: 10px;
    }
    
}
@media screen and (max-width: 320px) {
    .card-img-top {
        margin-left: 05px;
    }
    .card-body {
        margin-right: 15px;
        vertical-align: baseline;
    }
    .card-text {
        font-size: small;
    }
    .img-thumbnail {
        max-width: 260px;
    }
    .title-content {
        margin-right: 40px;
        font-size: large;
    }
    .descripcion {
        font-size: x-small;
        margin-right: 20px;
    }
    .title-contact {
        font-family: 'Merienda One', cursive;
        margin-right: 15px;
    }
    .footer {
        font-size: xx-small;
    }
    .ig {
        left: 230px;
    }
    .fb {
        left: 240px;
    }
    .experiencia {
        margin-top: 10px;
    }
    .marca {
        margin-top: 50px;
        margin-right: 40px;
    }
}