@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merienda+One&display=swap");
/*comienzo del body*/
body {
  background-color: #ff329d;
  width: 100%;
}

/*comienzo del header*/
header {
  background-color: #f8c504;
  margin-top: 5px;
  height: 110px;
  width: auto;
}

.navegador {
  margin-left: auto;
}

.navbar-nav {
  margin-top: 13px;
  text-shadow: 1px 1px white;
  font-family: "Merienda One", cursive;
  font-size: 22px;
}

.collapse {
  justify-content: flex-end;
}

.nav-link {
  color: #04558a;
  transition: 1s all;
}

.nav-link:hover {
  font-size: 26px;
}

/*comienzo del content*/
.container {
  margin: 0px;
  display: inline;
}

.card {
  text-align: center;
  padding: 60px;
  margin: 0px;
}

.containerPrincipal {
  margin-left: 10px;
}

.card-body {
  margin-right: 100px;
}

.boton {
  font-size: 15px;
}

.card-title {
  font-size: 25px;
  font-family: "Merienda One", cursive;
}

.card-text {
  font-size: 18px;
  font-family: "Merienda One", cursive;
}

/*comienzo de Insumos*/
.card-img-top {
  max-width: 400px;
}

.btn, .boton {
  color: #04558a;
  font-family: "Merienda One", cursive;
}

/*comienzo nail art*/
.titulo {
  text-align: center;
  font-family: "Merienda One", cursive;
}

.diseño {
  max-width: 400px;
  padding: 15px;
  transition: transform 0.2s;
  margin: 0 auto;
}

.diseño:hover {
  transform: scale(1.2);
} /*comienzo de quienes somos*/
.body-content {
  font-family: "Merienda One", cursive;
  margin-top: 50px;
}

.title-content {
  font-size: xx-large;
  text-align: center;
}

.descripcion {
  margin-top: 70px;
  font-size: x-large;
}

.img-thumbnail {
  max-width: 700px;
  margin-top: 50px;
  margin-left: 30px;
}

/*comienzo de contacto*/
.mb-4 {
  margin-left: 100px;
}

.title-contact {
  margin-right: 500px;
  font-family: "Merienda One", cursive;
}

.subtitle {
  font-size: 20px;
}

.col-md-3 {
  font-family: "Merienda One", cursive;
}

.btn {
  font-size: 20px;
}

/*comienzo del footer*/
.footer {
  position: relative;
  background-color: #f8c504;
  height: 100px;
  font-family: "Merienda One", cursive;
}

.footer .redes {
  text-align: end;
  margin-right: 5px;
}

.ig {
  position: relative;
  left: 1800px;
  bottom: 30px;
}

.fb {
  position: relative;
  left: 1810px;
  bottom: 30px;
}

.experiencia {
  position: relative;
  line-height: 2.5px;
  bottom: 75px;
  margin-left: 5px;
}

.marca {
  position: relative;
  text-align: center;
  bottom: 110px;
}

@media screen and (max-width: 768px) {
  .menu ul li {
    font-size: 13px;
    transition: none;
  }
  .menu ul li :hover {
    font-size: 15px;
  }
  .card-img-top {
    margin-left: 100px;
  }
  .card-body {
    margin-right: 50px;
    vertical-align: baseline;
  }
  .card-text {
    font-size: small;
  }
  .row {
    justify-content: center;
  }
  .body-content {
    font-size: medium;
    margin-left: 40px;
  }
  .mb-4 {
    margin-left: 20px;
  }
  .title-contact {
    font-family: "Merienda One", cursive;
    margin-right: 200px;
    font-size: 14px;
  }
  .col-md-3 {
    font-size: 14px;
  }
  .footer {
    font-size: small;
  }
  .ig {
    left: 660px;
  }
  .fb {
    left: 670px;
  }
}
@media screen and (max-width: 425px) {
  .card-img-top {
    margin-left: 5px;
  }
  .card-body {
    margin-right: 25px;
    vertical-align: baseline;
  }
  .card-text {
    font-size: small;
  }
  .img-thumbnail {
    max-width: 360px;
  }
  .title-content {
    margin-right: 40px;
    font-size: x-large;
  }
  .descripcion {
    font-size: small;
    margin-left: 5px;
  }
  .title-contact {
    font-family: "Merienda One", cursive;
    margin-right: 15px;
    font-size: 14px;
  }
  .footer {
    font-size: x-small;
  }
  .ig {
    left: 330px;
  }
  .fb {
    left: 340px;
  }
  .experiencia {
    margin-top: 10px;
  }
}
@media screen and (max-width: 320px) {
  .card-img-top {
    margin-left: 5px;
  }
  .card-body {
    margin-right: 15px;
    vertical-align: baseline;
  }
  .card-text {
    font-size: small;
  }
  .img-thumbnail {
    max-width: 260px;
  }
  .title-content {
    margin-right: 40px;
    font-size: large;
  }
  .descripcion {
    font-size: x-small;
    margin-right: 20px;
  }
  .title-contact {
    font-family: "Merienda One", cursive;
    margin-right: 15px;
  }
  .footer {
    font-size: xx-small;
  }
  .ig {
    left: 230px;
  }
  .fb {
    left: 240px;
  }
  .experiencia {
    margin-top: 10px;
  }
  .marca {
    margin-top: 50px;
    margin-right: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
