@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merienda+One&display=swap');
/*comienzo del body*/
body {
    background-color: #ff329d;
    width: 100%;
}
/*comienzo del header*/
header {
    background-color: #f8c504;
    margin-top: 5px;
    height: 110px;
    width: auto;
}
.navegador {
    margin-left: auto;
}

.navbar-nav {
    margin-top: 13px;
    text-shadow: 1px 1px white;
    font-family: 'Merienda One', cursive;
    font-size: 22px; 
}
.collapse {
    justify-content: flex-end;
}
.nav-link {
    color: #04558a;
    transition: 1s all;
}
.nav-link:hover {
    font-size: 26px;
}
/*comienzo del content*/
.container {
    margin: 0px;
    display: inline;
}
.card {
    font-family: 'Merienda One', cursive;
    text-align: center;
    padding: 60px;
    margin: 0px;
}
.containerPrincipal {
    margin-left: 10px;
}
/*comienzo de Insumos*/
.card-img-top {
    max-width: 400px;
}
/*comienzo del footer*/
.footer {
    position: relative;
    background-color: #f8c504;
    height: 100px;
    font-family: 'Merienda One', cursive;
}
.footer .redes {
    text-align: end;
    margin-right: 5px;
}
.ig {
    position: relative;
    left: 1800px;
    bottom: 30px;
}
.fb {
    position: relative;
    left: 1810px;
    bottom: 30px;  
}
.experiencia {
    position: relative;
    line-height: 2.5px;
    bottom: 75px;
    margin-left: 5px;
   
}
.marca {position: relative;
    text-align: center;
    bottom: 110px;
}
@media screen and (max-width: 768px){
    .menu ul li {
        font-size: 13px;
        transition: none;
    }
    .menu ul li :hover {
        font-size: 15px;
    }
    .row {
        justify-content: center;
    }
    .footer {
        font-size: small;
    }
    .ig {
        left: 660px;
    }
    .fb {
        left: 670px;
    }
    
}
@media screen and (max-width: 425px) {
    .footer {
        font-size: x-small;
    }
    .ig {
        left: 330px;
    }
    .fb {
        left: 340px;
    }
    .experiencia {
        margin-top: 10px;
    }
    
}
@media screen and (max-width: 320px) {
    .footer {
        font-size: xx-small;
    }
    .ig {
        left: 230px;
    }
    .fb {
        left: 240px;
    }
    .experiencia {
        margin-top: 10px;
    }
    .marca {
        margin-top: 50px;
        margin-right: 40px;
    }
    
}